body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
  }

  /*social media fonts*/

.social a{
    font-size: 1.8em;
    padding:.5rem;
}
.fa-facebook{
  color: #3b5999;
}
.fa-youtube{
   color: #bb0000;
}
.fa-github{
    color:#333;
}

.fa-instagram{
    color:#C13584;
}
.fa-linkedin{
    color:#0e76a8;
}
.fa-envelope{
    color: #B23121;
}

.fa-facebook:hover,
.fa-youtube:hover{
    color:#d5d5d5;
}



  /*--- navigation bar ---*/
  .navbar {
    background:lightpink;
  }
  .nav-link,.navbar-brand {
    color: #fff;
    cursor: pointer;
  }
  .nav-link {
    margin-right: 1em !important;
  }
  .nav-link:hover {
    color: #000;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }




  /*BAckground image ---*/

  .header {
    background-image: url('NYCcover.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
  }

  /*Gives the picture a dark touch---*/
  .overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
  }

  /*lyrics on the main photo ---*/

  .description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
    
  }
  .description h1 {
    color: lightpink;
  }
  .description p {
    color:lightpink;
    font-size: 1.3rem;
    line-height: 1.5;
  }

  
   /*Button that says tell me more ---*/

  .description button {
    border:1px solid lightpink;
    background:lightpink;
    border-radius: 0;
    color:#fff;
  }
  .description button:hover {
    border:1px solid #fff;
    background:#fff;
    color:#000;
  }

.card{
    margin-top: 3%;
    margin-left: 3%;
    float: left;
}




/* fixes the text from being hidden by the nav bar--*/
@media (max-width: 575.98px) {
  .description {
    left: 0;
    padding: 0 15px;
    position: absolute;
    top: 40%;
    transform: none;
    text-align: center;
  }
  
  .description h1 {
    font-size: 2em;
  }
  
  .description p {
    font-size: 1.2rem;
  }
  
  .features {
    margin: 0;
  }
}